name: Manual Conan Build & Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag name for the release (e.g. v1.2.3, 1.4.12.912)"
        required: true
        type: string

env:
  SUBMODULE_PATH: GW2-WhereAreMyTools
  CONAN_HOME: /root/.conan2

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/jsantorek/gw2-addon-builder:latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository with submodules
        uses: actions/checkout@v6
        with:
          submodule: recursive
          token: ${{ secrets.SOURCE_REPO_TOKEN }}
          ref: main
          fetch-depth: 0

      - name: Conan install dependencies
        run: >
          conan install ${{ env.SUBMODULE_PATH }}
          --build missing
          --profile:host windows-dynamic
          --profile:build default
      
      - name: Conan build addon
        run: >
          conan build ${{ env.SUBMODULE_PATH }}
          --profile:host windows-dynamic
          --profile:build default
          --conf tools.cmake.cmaketoolchain:extra_variables*='{
          "ADDON_UPDATE_LINK": "${{ github.server_url }}/${{ github.repository }}",
          "ADDON_VERSION": "${{ github.event.inputs.tag }}"
          }'

      - name: Draft GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          prerelease: false
          fail_on_unmatched_files: true
          tag_name: ${{ github.event.inputs.tag }}
          files: build/**/*.dll

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          make_latest: true
          draft: false
          prerelease: false
          tag_name: ${{ github.event.inputs.tag }}
