name: Update submodule

on:
  workflow_dispatch:

env:
  FEATURE_BRANCH: bot/update-submodule
  PR_LABEL: automated-submodule-update
  SUBMODULE_PATH: GW2-WhereAreMyTools
  SUBMODULE_BRANCH: main

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  update-submodule:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository with submodule
        uses: actions/checkout@v6
        with:
          submodules: recursive
          token: ${{ secrets.SOURCE_REPO_TOKEN }}
          ref: main
          fetch-depth: 0

      - name: Update submodule to latest commit
        working-directory: ${{ env.SUBMODULE_PATH }}
        run: |
          set -ex
          git fetch origin ${{ env.SUBMODULE_BRANCH }}
          current=$(git rev-parse HEAD)
          latest=$(git rev-parse origin/${{ env.SUBMODULE_BRANCH }})
          [ "$current" != "$latest" ] || exit 1
          git checkout $latest


      - name: Close previous PRs created by this workflow
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr list \
            --label ${{ env.PR_LABEL }} \
            --state open \
            --json number \
            --jq '.[].number' |
          while read pr; do
            echo "Closing PR #$pr"
            gh pr close "$pr" --delete-branch
          done

      - name: Configure git
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Add, commit and push changes
        run: |
          git checkout -b ${{ env.FEATURE_BRANCH }}
          git add .
          git commit -m "chore: update submodule to latest"
          git push --force --set-upstream origin ${{ env.FEATURE_BRANCH }}

      - name: Create pull request
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh pr create
          --head ${{ env.FEATURE_BRANCH }}
          --base main
          --title "automated submodule update"
          --body "This PR updates submodule to the latest commit on watched branch."

      - name: Add label
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh pr edit "${{ env.FEATURE_BRANCH }}"
          --add-label "${{ env.PR_LABEL }}"
